{% extends 'index.html'  %}

{% block title  %}
{{ title }}
{% endblock %}

{% block body %}

<form method="POST">
    <table>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email" required></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" required></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" required></td>
        </tr>
        <tr>
            <td>Password retype</td>
            <td><input type="password" name="password2" required></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('login_page') }}">Login</a></td>
            <td><input type="submit" value="Register"></td>
        </tr>
    </table>
</form>
{% endblock %}